/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Barra de navegación */
nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 90px;

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Carrusel */
.carousel {
    position: relative;
    width: 1900px;
    overflow: hidden;
    margin: 0 auto;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-images img {
    width: 1000px;
    height: 400px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Categorías */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.category {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1rem;
    width: 200px;
}

.category img {
    width: 100%;
    border-radius: 8px;
}

.category h3 {
    margin: 1rem 0 0;
}

.category p {
    color: #555;
}


/* Estilo para el botón */
button {
    background-color: #9b6d31; /* Color de fondo */
    color: #fff; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor tipo puntero al pasar sobre el botón */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves para el color y el tamaño */
}

/* Estilo para el botón al pasar el ratón sobre él */
button:hover {
    background-color: #b38900; /* Color de fondo más oscuro al pasar el ratón */
}

/* Estilo para el botón al hacer clic en él */
button:active {
    transform: scale(0.98); /* Efecto de reducción para simular un clic */
}

