<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <div><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt=""></div>
        <ul>
            <li><a href="{{ url_for('veterinaria') }}">Veterinaria</a></li>
            <li><a href="{{ url_for('caballos') }}">Caballos</a></li>
            <li><a href="{{ url_for('herraje') }}">Herraje </a></li>
            <li><a href="{{ url_for('corrales') }}"> Corrales</a></li>
            <li><a href="#contact">Otros </a></li>
        </ul>
    </nav>

    <section id="categories" class="categories">
        <div class="category">
            <img src="{{ url_for('static', filename='img/corr1.jpg') }}" alt="Categoría 1">
            <h3>Balde de caucho</h3> 
            <p>Balde de caucho, parte trasera recta.
                Capacidad: 17 Lts.</p>
            <h2>$22.000</h2>
            <button>añadir al carrito </button>


        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/corr2.jpg') }}" alt="Categoría 2">
            <h3>Bebedero con flotador </h3>
            <p>Bebedero con flotador de metal 
                <h2>$85.0000</h2>
            <button>añadir al carrito </button>
        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/corr3.jpg') }}" alt="Categoría 3">
            <h3>Botiquín 85 piezas</h3>
            <p>Botiquín de 85 piezas marca Motorlife para uso humano</p>
            <h2>$11.000</h2>
            <button>Añadir al carrito </button>
        </div>

        <div class="category">
            <img src="{{ url_for('static', filename='img/corr4.jpg') }}" alt="Categoría 4 ">
            <h3>Cadena para pesebrera  </h3>
            <p>Cadena de goma azul para pesebrera Roma</p>
            <h2>$30.000</h2>
            <button>Añadir al carrito </button>
        </div>

        <div class="category">
            <img src="{{ url_for('static', filename='img/corr5.jpg') }}" alt="Categoría 4 ">
            <h3> Colgador pesebrera </h3>
            <p>Colgador metálico multiuso pesebrera con mosquetón</p>
            <h2>$9.000</h2>
            <button>Añadir al carrito </button>
        </div>
    </section>



    <section id="categories" class="categories">
        <div class="category">
            <img src="{{ url_for('static', filename='img/corr6.jpg') }}" alt="Categoría  ">
            <h3>Colgador </h3>
            <p> Colgador porta balde metalico para pesebreras</p>
            <h2>$1.800</h2>

        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/corr7.jpg') }}" alt="Categoría  ">
            <h3>Comedero de plástico para valla </h3>
            <p> </p>
            <h2>$22.000</h2>
        </div>

        <div class="category">
            <img src="{{ url_for('static', filename='img/corr8.jpg') }}" alt="Categoría  ">
            <h3>Expositor para fustas</h3>
            <p>Expositor para fustas 
                Material: plástico
                Medida: 30 cm</p>
            <h2>$5.000</h2>
        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/corr9.jpg') }}" alt="Categoría  ">
            <h3>Horqueta canastillo</h3>
            <p>Horqueta cóncava con mango 
                Material: plástico/madera
                Largo: 130 cm 
            </p>
            <h2>$32.700</h2>
        </div>
        <div class="category">
        <img src="{{ url_for('static', filename='img/corr10.jpg') }}" alt="Categoría  ">
        <h3>Medida para alimento 1/4</h3>
        <p>
        </p>
        <h2>$4.500</h2>
    </div>

    </section>
</body>

</html>