<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Barra de navegación -->
    <nav>
        <div><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt=""></div>
        <ul>
            <li><a href="{{ url_for('veterinaria') }}">Veterinaria</a></li>
            <li><a href="{{ url_for('caballos') }}">Caballos</a></li>
            <li><a href="{{ url_for('herraje') }}">Herraje </a></li>
            <li><a href="{{ url_for('corrales') }}"> Corrales</a></li>
            <li><a href="#contact">Otros </a></li>
        </ul>
    </nav>

    <!-- Carrusel -->
    <div class="carousel">
        <div class="carousel-images">
            <img src="{{ url_for('static', filename='img/slide1.png') }}" alt="img1">
            <img src="{{ url_for('static', filename='img/slide2.png') }}" alt="Imagen 2">
            <img src="https://via.placeholder.com/800x400?text=Imagen+3" alt="Imagen 3">
        </div>
        <button class="prev">&#10094;</button>  
        <button class="next">&#10095;</button>
    </div>

    <!-- Categorías -->
    <section id="categories" class="categories">
        <div class="category">
            <img src="{{ url_for('static', filename='img/categoria1.png') }}" alt="Categoría 1">
            <h3>Todo para tu caballo</h3>
            <p>Descripción de la categoría 2.</p>
            
            
        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/categoria2.png') }}" alt="Categoría 2">
            <h3>Herramientas de herraje </h3>
            <p>Descripción de la categoría 2.</p>
        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/categoria3.png') }}" alt="Categoría 3">
            <h3>Medicina veterinaria </h3>
            <p>Descripción de la categoría 3.</p>
        </div>

        <div class="category">
            <img src="{{ url_for('static', filename='img/categoria4.png') }}" alt="Categoría 4 ">
            <h3>Accesorio para jinete </h3>
            <p>Descripción de la categoría 4.</p>
        </div>
    </section>

    <!-- Script -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>