<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <div>
            <a href="/">
                <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            </a>
        </div>
        <ul>
            <li><a href="{{ url_for('veterinaria') }}">Veterinaria</a></li>
            <li><a href="{{ url_for('caballos') }}">Caballos</a></li>
            <li><a href="{{ url_for('herraje') }}">Herraje </a></li>
            <li><a href="{{ url_for('corrales') }}"> Corrales</a></li>
            <li><a href="{{ url_for('registrate') }}">Registrate </a></li>
            <li><a href="{{ url_for('inicio') }}">Inicia sesion  </a></li>
            <li><a href="{{ url_for('carrito') }}">Carrito  </a></li>
        </ul>
    </nav>

    <section id="categories" class="categories">
        
        {% for producto in productos %}
            <div class="category">
                <img src="{{ url_for('static', filename=producto.imagen) }}" alt="Categoría 1">
                <h3>{{producto.nombre}}</h3>
                <p> {{producto.descripcion}}</p>
                <h2>${{ "{:,.0f}".format(producto.precio)}}</h2>
                <form action="/shopping_cart/add/" method="post">
                    <input type="hidden" name="prod_id" value="{{producto.id}}">
                    <button class="btn2">añadir al carrito </button>
                </form>
            </div>
        {% endfor %}

    </section>



    
</body>

</html>