<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <div><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt=""></div>
        <ul>
            <li><a href="{{ url_for('veterinaria') }}">Veterinaria</a></li>
            <li><a href="{{ url_for('caballos') }}">Caballos</a></li>
            <li><a href="{{ url_for('herraje') }}">Herraje </a></li>
            <li><a href="{{ url_for('corrales') }}"> Corrales</a></li>
            <li><a href="#contact">Otros </a></li>
        </ul>
    </nav>

    <section id="categories" class="categories">
        <div class="category">
            <img src="{{ url_for('static', filename='img/vet1.jpg') }}" alt="Categoría 1">
            <h3>ACTIGOR 100 ml</h3>
            <p>Indicado en deficiencias de Fósforo y oligoelementos en la dieta, su uso permite equilibrar las
                exigencias de la preñez, crecimiento, reproducción, lactancia, ejercicio intenso, convalecencia y para
                mejorar el aspecto (pelaje).</p>
            <h2>$28.000</h2>
            <button>añadir al carrito </button>


        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/vet2.png') }}" alt="Categoría 2">
            <h3>Acondicionador Original 355 ml Mane´n Tail </h3>
            <p>Creado originalmente para ayudar a promover crines y colas más voluminosas, fuertes y fluidas en los
                caballos de exhibición, las personas continúan descubriendo esta solución para el cuidado del cabello
                para sí mismas. </p>
            <h2>$8.600</h2>
            <button>añadir al carrito </button>
        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/vet3.jpg') }}" alt="Categoría 3">
            <h3>Acetidrona </h3>
            <p>Glucocorticoide fluorado de baja retención electrolítica. El grupo acetónido le confiere acción
                sostenida. Presenta actividad hiperglucémica, antiinflamatoria y antialérgica. También luteolítica.
                Actúa en forma rápida y sus efectos se prolongan por 4 días o más.
                Contenido 20 cc</p>
            <h2>$28.910</h2>
            <button>Añadir al carrito </button>
        </div>

        <div class="category">
            <img src="{{ url_for('static', filename='img/vet4.jpg') }}" alt="Categoría 4 ">
            <h3>Acondicionador Anti-Dandruff 473 ml Mane’n Tail </h3>
            <p>Una fórmula acondicionadora suave para el cabello y el cuero cabelludo que combina aceite de oliva
                nutritivo y humectantes con piritionato de zinc para ayudar a calmar y aliviar la picazón y la
                descamación. </p>
            <h2>$11.000</h2>
            <button>Añadir al carrito </button>
        </div>

        <div class="category">
            <img src="{{ url_for('static', filename='img/vet.jpg') }}" alt="Categoría 4 ">
            <h3>AIR PROFUNDLY</h3>
            <p>Ayuda a despejar las vías respiratorias favoreciendo una mayor capacidad aeróbica especialmente indicado
                para caballos en training o sometidos a una gran exigencia física. Indicado para animales en
                competencias de alto esfuerzo como salto, polo, enduro, prueba completa, rodeo, etc.</p>
            <h2>$52.500</h2>
            <button>Añadir al carrito </button>
        </div>
    </section>



    <section id="categories" class="categories">
        <div class="category">
            <img src="{{ url_for('static', filename='img/vet5.jpg') }}" alt="Categoría  ">
            <h3>Ajo en polvo (Garlic) 1 kilo</h3>
            <p> El AJO EN POLVO es un suplemento para equinos conocido por sus muchos beneficios para la salud. Además,
                se puede suplementar durante los meses de verano para reducir el número de moscas en los establos y
                durante el ejercicio.</p>
            <h2>$23.000</h2>

        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/vet6.jpg') }}" alt="Categoría  ">
            <h3>Iron Power 1.9 lt. (Finish Line)</h3>
            <p> suplemento vitamínico líquido con alto contenido de hierro y alto contenido de complejo B utilizado como
                ayuda para prevenir la anemia por deficiencia de hierro, que causa letargo y debilidad que conduce a un
                bajo rendimiento.</p>
            <h2>$44.000</h2>
        </div>

        <div class="category">
            <img src="{{ url_for('static', filename='img/vet7.jpg') }}" alt="Categoría  ">
            <h3>Biopower 30 gr</h3>
            <p>Biopower® Equino se indica en potrillos desde el nacimiento, en el destete y en otras condiciones de
                estrés. Usar en caballos adultos durante el transporte, en períodos de estrés asociados al training y
                competencias</p>
            <h2>$9.000</h2>
        </div>
        <div class="category">
            <img src="{{ url_for('static', filename='img/vet8.jpg') }}" alt="Categoría  ">
            <h3>Conquer liquido</h3>
            <p>Conquer® líquido se ha desarrollado específicamente para ayudar a mantener la salud de las articulaciones
                de su animal. HA es seguro, no tóxico y un glucosaminoglucano de origen natural con su mayor
                concentración se encuentra en el tejido conectivo todos los vertebrados y de líquido de la articulación.
            </p>
            <h2>$61.700</h2>
        </div>
        <div class="category">
        <img src="{{ url_for('static', filename='img/vet9.jpg') }}" alt="Categoría  ">
        <h3>Colimic</h3>
        <p>Antiespasmódico, relajante de la musculatura 
        lisa en estados de cólicos gastrointestinales y como coadyuvante en diarreas y vómitos.
        </p>
        <h2>$10.500</h2>
    </div>

    </section>
</body>

</html>